.main-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  background: url("https://res.cloudinary.com/deeptailor/image/upload/v1492465242/goRemoteJobs/goremote-background-min.jpg");
  background-position: center;
  background-size: cover;
}

.main-overlay{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
  transition: all 0.5s linear;
}

/* Navigation Container */

.navigation-container{
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  padding: 50px 50px;
  width: 100%;
}

.navigation-logo > img{
  width: 100px;
}

/* Sidebar Container */

.sidebar-container{
  box-sizing: border-box;
  background: white;
  width: 0%;
  height: 100%;
  transition: all 0.5s linear;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.login-signup-container{
  min-width: 350px;
  display: flex;
  width: 90%;
  border: 2px solid #636363;
  border-radius: 10px;
  color: #636363;
}

.l-button{
  padding: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}

.l-button:nth-child(1){
  border-radius: 5px 0 0 5px;
}

.l-button > i{
  font-size: 20px;
}

.l-button:hover{
  background: #636363;
  color: white;
}

.l-button:hover > i{
  color: #ffbe2d;
}

.label{
  margin-left: 10px;
}

.label > h1{
  font-size: 16px;
  margin-bottom: 3px;
}

.label > h2{
  font-size: 10px;
}

.separator{
  min-height: 100%;
  width: 2px;
  background-color: #636363;
}

.terms-of-service-container{
  width: 100%;
  min-height: 100px;
}

/* login component */

.login-container{
  width: 100%;
  min-width: 380px;
}

.login-container > h1{
  padding-left: 30px;
  font-size: 28px;
  color: #636363;
}

.bold{
  font-weight: bold;
}

.form-login{
  width: 100%;
  margin: 20px 0;
}

.form-login > div{
  width: 100%;
  padding: 10px 30px;
  background-color: #636363;
  color: white;
  border-top: 2px solid #d1d1d1;
  font-size: 20px;
}

.form-login > div > input[type="email"]{
  margin: 0 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 5px;
  width: 80%;
}

.form-login > div > input[type="password"]{
  margin: 0 15px;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 5px;
  width: 80%;
}

.form-login > div > input[type="name"]{
  margin: 0 15px;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 5px;
  width: 80%;
}

.form-login > div > input[list=education]{
  margin: 0 5px;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 5px;
  width: 80%;
}

input::-webkit-input-placeholder{
  color: #d1d1d1;
}

.submit-button{
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ffbe2d;
  background: #ffbe2d;
  color: white;
  margin-left: 30px;
}

.submit-button:hover{
  background-color: #d1d1d1;
  color: black;
  cursor: pointer;
  border-color: #ffbe2d;
}
